body, html, .App {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fc;
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px);  /* Center vertically */
  transition: all 0.5s ease-in-out;
}

.shifted-content {
  justify-content: flex-start;  /* Move content to top when search initiated */
  padding-top: 60px;
}

.loader {
  margin: 20px auto;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #3498db;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3498db transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.suggestion-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.suggestion-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.suggestion-content h3 {
  margin-top: 0;
}

.suggestion-highlight {
  color: black;
  font-weight: bold;
}

.suggestion-content button {
  margin: 10px;
  padding: 8px 12px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-content button:hover {
  background-color: black;
}

.suggestion-content .close-btn {
  background-color: #e74c3c;
}

.suggestion-content .close-btn:hover {
  background-color: #c0392b;
}
